/* RESET */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
    
/* COMMON */
html {
    font-family: 'Roboto', sans-serif;
}

.container {
    width: 80%;
    margin: 0 auto;
    background-color: #f9f9f9;
}

/* HEADER */
header {
    height: 80px;

    /* DEBUG */
    background-color: aquamarine;
}

.header-nav {
    height: 100%;

    display: flex;
    justify-content: space-between;
    align-items: center;
}

.nav-group {

    /* DEBUG */
    width: 50px;
    height: 50px;
    background-color: bisque;
}