/* RESET */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

img {
    max-width: 100%;
}

/* COMMON */
html {
    font-family: 'Roboto', sans-serif;
}

.container {
    min-height: 1000px;
    margin: 0 auto;
    padding: 4rem;
}

i {
    font-size: 1.6rem;
}

/* HEADER */
header {
    height: 80px;
}

.header-nav {
    height: 100%;

    display: flex;
    justify-content: space-between;
}

.nav-group {
    display: flex;
    align-items: center;
    padding: 0 1rem;
    height: 100%;
}

.nav-group i {
    margin-right: 5px;
}

.logo{
    padding: 1rem 0;
    height: 100%;
}

.searchbar {
    min-width: 400px;
    padding: .5rem;
    border: 1px solid grey;
    border-top-left-radius: 2px;
    border-bottom-left-radius: 2px;
}

button {
    width: 3rem;
    padding: .5rem;
    border: 1px solid grey;
    border-top-right-radius: 2px;
    border-bottom-right-radius: 2px;
    background-color: #f9f9f9;
}

.nav-group:nth-of-type(2) i{
    font-size: .8rem;
}

.nav-group:nth-of-type(3) *{
    margin-right: 1.6rem;
}

/* MAIN */
main {
    background-color: #f9f9f9;
}

.col {
    width: calc(100% / 4);
    
    /* DEBUG */
    height: 200px;
    background-color: blue;
}